Crashlytics.framework/* linguist-vendored
Fabric.framework/* linguist-vendored
Firebase/* linguist-vendored
Carthage/* linguist-vendored
CommonMark/cmark/* linguist-vendored
CommonMark/CommonMark.h linguist-vendored